<!DOCTYPE HTML>
<html>

<head>
    <title><%= ID %> 블로그 링크</title>
</head>

<body>
    <p>다음은 <%= ID %> 사용자의 네이버 주소 블로그입니다.</p>
    <iframe src="http://blog.naver.com/<%= ID %>" width="100%" height="600" frameborder="0"></iframe>
</body>

</html>